html
{
	scroll-behavior: smooth;
}

body {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	color: #555;
	line-height: 1.5;
	font-size: 1.2vmax;
	background: #111;
	background-image: url('../img/bg_skull.png');
	background-size: 350px;
	margin: 0px;
}

.clickselect
{
	display:inline-block;
    -webkit-user-select: all;
    user-select: all;	
}

.sticky_header
{
	z-index: 1;
	background: #08051d;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
	padding: 10px;
	display: flex;
	align-items:center;
	color: white;
	font-size: large;
	background: rgb(8,5,29);
	background: linear-gradient(0deg, rgba(8,5,29,0) 0%, rgba(8,5,29,1) 100%); 	
}

.sticky_header a
{
	padding-right:15px;
}

.header
{
	width: 100%;
	height: 30px;
	background: black;
	color: white;
}

.bg_img
{
	background: url("../img/noise_overlay.png") left, top / auto auto repeat, url("../img/nokklip_concert.png") center top / 100% auto no-repeat;
	padding-top: 20vw;
}

.bg_img_store
{
	background: url("../img/noise_overlay.png") left, top / auto auto repeat, url("../img/nokklip_selling_merch.png") center top / 100% auto no-repeat;
	padding-top: 20vw;
}

.caption
{
	font-size:smaller;
	padding:5px;
	font-family: monospace;
	color: #3f286d;
}

.content
{
	width: 50%;
}

.noise_overlay
{
background: url("../img/noise.gif") left, top / auto auto repeat;
  mix-blend-mode: overlay;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 9999999999;
pointer-events: none;
opacity: 0.5;  
}

.section
{
	margin-bottom: 40vh;
	//text-align: left;
	scroll-margin-top: 100px;
}

.bn img
{
	margin-top: 20vh;
	margin-bottom: 20vh;
	transition: transform .2s;
}

.bn img:hover
{
	transform: scale(1.2);
}

.photo
{
	transform: rotate(-0.10);	
	//filter: grayscale(0.5);	
	width:75%;	
	border-radius: 10px;
	//border: 1px solid #22176b;
	padding: 10px;
	//padding-bottom: 40px;
	background: #08041e;
	margin-bottom: 20px;
	text-align: center;
}

.infobox
{
	border-radius: 10px;
	background: #08041e;
	padding: 10px;
}

h1
{
	font-size: smaller;	
}

footer
{
	font-size: smaller;
	font-weight: bold;
}

h1,
h1 a
{
	color: #fff;
}

.sticky_header a,
h2, footer
{
	color: #eee;
	font-weight: bold;
	filter: drop-shadow(2px 4px 0px #260b2c);
}

h3
{
	color: white;
	margin: 0;
	padding: 0;
	font-size: inherit;
}

.somelink
{
	color: #9960ff;	
}

.txt
{
	color: #7020f0;
	font-size: large;
	text-align:left;
}

.txt p,
.bubble
{
	text-align:left;
	//background:#1d1939;
	//background:#07041a;
	background:#110b39;
	padding: 5px 10px;
	border-radius: 10px;
	display:inline-block;
	margin:5px;
	max-width: 60%;
}

.bubble.wide
{
	padding: 10px;
	max-width: 100%;	
	
}

.txt p.tag
{
	color: #555;
}

.txt p.heading
{
	width:100%;
}

.txt p.footnote
{
	background: black;
	color: #555;
	float:right;
	font-size: 1.0vmax;
	width:30%;
}

.reply
{
	text-align:right;
}

.reply p
{
	//background: #760152;
	background: #2b0b39;
	padding: 5px 10px;
	border-radius: 10px;
	display:inline-block;
	margin:10px;
	color: #cc077b;
	max-width: 60%;
}

.logo
{
	width: 200px;
	height: 200px;
	object-fit: cover;
	clip-path: circle();
	margin-top: 20px;
}

table.nav
{
	width:100%;
}

table.nav td
{
	padding: 0px 10px;
}

.link
{
	margin-bottom: 1em;
	border-radius: 10px;
	padding: 10px;
	background: #110b39;
	color: #f0f0f0;
}

.link_small
{
	float: left;
	width:23%;
	padding-right: 2%;
}

p img
{
	width: 100%;
}

.image
{
	width:75%;
	border-radius: 12px;
}

.icon
{
	width:22px;
	height:22px;	
}

.gifa
{
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;	
}

a
{
	color: #00f;
	text-decoration: none;	
}

a:hover
{
	text-decoration: underline;	
}

input,
textarea
{
	margin:10px 0px;	
	background: #2b0b39;
	color: #cc077b;	
	border: 0px;
	border-radius: 5px;
	border: 1px solid #6e1fed;
}

input
{
	padding: 10px;	
	width:300px;	
	border-radius:5px;
}

.btn
{
	margin:10px 0px;
	padding: 10px;
	width:100%;
	border-radius: 5px;
	border: 0px;
	background: #005;
	color: #fff;
}

.link img
{
	width: 40px;	
	
}

.box {
   display: flex;
   align-items:center;
   justify-content: center;
}

.box img
{
	padding-right: 10px;
}

.btn:hover,
a:hover .link
{
	background: #211278;
	color: white;
	text-decoration: none;	
	cursor: pointer;
}

.chain_1
{
	position:fixed;
	
	width: 100px;
	height: 100vh;
	background-image: url('../img/chain_1.png');
	background-size: 50px;
	background-repeat: repeat-y;
	z-index: -1;
	
}

/* store */

.sidebar
{
	width: 20vw;
	background:red;
	float:left;
}

.store_item
{
	float: left;
	padding: 10px;
	overflow:hidden;	
	width: 20vw;
}

.store_item img
{
	width: 100%;
	border-radius: 10px;
}

.pricetag
{
	margin-top: -3px;	
	position: relative;
	z-index: 1;
}

.store_item img
{
    transition: transform 0.3s ease;
    transform-origin: 50% 50%;
}

.store_item img:hover
{
    transform: scale(1.2);

}

.pricetag .title
{
	font-size: 1.0em;
	margin: 0px;
	background: black;
	color: white;
	border-radius: 10px 10px 0px 0px;	
	font-style: italic;
	font-weight: bold;
}

.price
{
	background: white;
	color: black;
	border: dashed 1px black;
	font-weight: bold;
	font-size: 0.9em;
	border-radius: 0px 0px 10px 10px;
	margin: 0px;
	padding: 5px;
	text-align: right;
	border-top: 0px;
}

/* end store */


@media only screen and (max-aspect-ratio: 1/1)
{
	body 
	{
		font-size: 2.5vmax;
		background-size: 100%;		
	}
	
	.content
	{
		width: 90%;
	}	

	.logo
	{
		width: 400px;
		height: 400px;		
	}

	.link
	{
		padding: 40px;
		margin-bottom: 1.4em;
		border-radius: 20px;	
	}
	
	.link img
	{
		width: 60px;	
		
	}	
	
	.link_small_txt
	{
		display: none;
	}
	
	.txt
	{
		font-size: larger;
	}
	
	.txt p,
	.bubble
	{
		border-radius: 20px;
		margin:10px;
	}	
	
	.icon
	{
		width:40px;
		height:40px;	
	}	
	
	.chain_1
	{
		display: none;
	}
	
	.sticky_header
	{
		background: #0a071d;
		font-size: 0.7em;
	}
	
	.sticky_header a:first-of-type
	{
		width: 	5vw;
		padding: 2vw;
	}	
	
	.sticky_header a
	{
		width: 	15vw;
		padding: 1.5vw;
	}
	
	.photo,
	.yt
	{
		width: 100%;
	}
	
	.floater_right
	{
		display:none;
	}
	
	.floater_left
	{
		display:none;
	}	
	
}

@keyframes flickerAnimation {
  0%   { opacity:0.26; filter: blur(0.0px);    }
  20%   { opacity:0.27; filter: blur(1.1px); }
  40%  { opacity:0.26; }
  60%  { opacity:0.27; filter: blur(0.0px);    }
  80%  { opacity:0.25; }
  90%  { opacity:0.28; }
  100% { opacity:0.25; }
}

.animate-flicker {
    animation: flickerAnimation 0.5s infinite;
}

.bg_img_1
{
	position: fixed;
	right: 100;
	z-index: -5;
	width: 50%;
	opacity: 0.25;
}

.bg_img_2
{
	position: fixed;
	left: -200px;
	z-index: -5;
	width: 50%;	
	opacity: 0.25;
}

.floater_right
{
	filter: blur(1px);
	position:absolute;
	right: 0px;
	animation: spooky_float 7s linear infinite;
}

.floater_left
{
	filter: blur(1px);
	position:absolute;
	left: 0px;
	animation: spooky_float_2 7s linear infinite;
}

.flip_x
{
	-webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

@keyframes spooky_float {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 15px;
  }
}

@keyframes spooky_float_2 {
  0%, 100% {
    bottom: -5px;
  }
  50% {
    bottom: 10px;
  }
}

@font-face { 
	font-family: VCR;
	src: url('vcr_osd_mono.ttf') format('truetype'); 
} 