html
{
	scroll-behavior: smooth;
}

body {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	color: #555;
	line-height: 1.5;
	font-size: 1.2vmax;
	background: #111;
	background-image: url('../img/bg_skull.png');
	background-size: 350px;
	margin: 0px;
}

.header
{
	width: 100%;
	height: 30px;
	background: black;
	color: white;
}

.bg_img
{
	background: url("../img/noise_overlay.png") left, top / auto auto repeat, url("../img/nokklip_concert.png") center top / 100% auto no-repeat;
	padding-top: 20vw;

}

.content
{
	
	width: 50%;
}

.section
{
	margin-bottom: 40vh;
	//text-align: left;
	scroll-margin-top: 100px;
}

.bn img
{
	margin-top: 20vh;
	margin-bottom: 20vh;
	transition: transform .2s;
}

.bn img:hover
{
	transform: scale(1.2);
}

h1
{
	font-size: smaller;	
}

footer
{
	font-size: smaller;
	font-weight: bold;
	color: #fc0189;
	text-shadow: 0 0 10px #fd018a;		
}

h1,
h1 a
{
	color: #fff;
}

h2
{
  color: #fc0189;
  text-shadow: 0 0 10px #fd018a;	
}

.txt
{
	color: #7020f0;
	font-size: large;
	text-align:left;
}

.txt p,
.bubble
{
	text-align:left;
	//background:#1d1939;
	//background:#07041a;
	background:#110b39;
	padding: 5px 10px;
	border-radius: 10px;
	display:inline-block;
	margin:5px 0px;
	max-width: 60%;
}

.txt p.tag
{
	color: #555;
}

.txt p.heading
{
	width:100%;
}

.txt p.footnote
{
	background: black;
	color: #555;
	float:right;
	font-size: 1.0vmax;
	width:30%;
}

.reply
{
	text-align:right;
}

.reply p
{
	//background: #760152;
	background: #2b0b39;
	padding: 5px 10px;
	border-radius: 10px;
	display:inline-block;
	margin:10px;
	color: #cc077b;
	max-width: 60%;
}

.logo
{
	width: 200px;
	height: 200px;
	object-fit: cover;
	clip-path: circle();
	margin-top: 20px;
}

table.nav
{
	width:100%;
}

table.nav td
{
	padding: 0px 10px;
}

.link
{
	margin-bottom: 1em;
	border-radius: 10px;
	padding: 10px;
	background: #005;
	color: #f0f0f0;
}

p img
{
	width: 100%;
}

.image
{
	width:75%;
	border-radius: 12px;
}

.icon
{
	width:22px;
	height:22px;	
}

.gifa
{
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;	
}

a
{
	color: #00f;
	text-decoration: none;	
}

a:hover
{
	text-decoration: underline;	
}

input,
textarea
{
	margin:10px 0px;	
	background: #2b0b39;
	color: #cc077b;	
	border: 0px;
	border-radius: 5px;
	border: 1px solid #6e1fed;
}

input
{
	padding: 10px;	
	width:300px;	
	border-radius:5px;
}

.btn
{
	margin:10px 0px;
	padding: 10px;
	width:100%;
	border-radius: 5px;
	border: 0px;
	background: #005;
	color: #fff;
}

.link img
{
	width: 40px;	
	
}

.box {
   display: flex;
   align-items:center;
   justify-content: center;
}

.box img
{
	padding-right: 10px;
}

.btn:hover,
a:hover .link
{
	background: #00f;
	color: white;
	text-decoration: none;	
	cursor: pointer;
}

.chain_1
{
	position:fixed;
	
	width: 100px;
	height: 100vh;
	background-image: url('../img/chain_1.png');
	background-size: 50px;
	background-repeat: repeat-y;
	z-index: -1;
	
}

@media only screen and (max-aspect-ratio: 1/1)
{
	body 
	{
		font-size: 2.5vmax;
		background-size: 100%;		
	}
	
	.content
	{
		width: 90%;
	}	

	.logo
	{
		width: 400px;
		height: 400px;		
	}

	.link
	{
		padding: 40px;
		margin-bottom: 1.4em;
		border-radius: 20px;	
	}
	
	.link img
	{
		width: 60px;	
		
	}	
	
	.txt
	{
		font-size: larger;
	}
	
	.txt p,
	.bubble
	{
		border-radius: 20px;
		margin:10px;
	}	
	
	.icon
	{
		width:40px;
		height:40px;	
	}	
	
	.chain_1
	{
		display: none;
	}
	
}

@keyframes flickerAnimation {
  0%   { opacity:0.26; filter: blur(0.0px);    }
  20%   { opacity:0.27; filter: blur(1.1px); }
  40%  { opacity:0.26; }
  60%  { opacity:0.27; filter: blur(0.0px);    }
  80%  { opacity:0.25; }
  90%  { opacity:0.28; }
  100% { opacity:0.25; }
}

.animate-flicker {
    animation: flickerAnimation 0.5s infinite;
}

.bg_img_1
{
	position: fixed;
	right: 100;
	z-index: -5;
	width: 50%;
	opacity: 0.25;
}

.bg_img_2
{
	position: fixed;
	left: -200px;
	z-index: -5;
	width: 50%;	
	opacity: 0.25;
}