body {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	color: #555;
	line-height: 1.5;
	font-size: 1.2vmax;
	background: #111;
	background-image: url('../img/bg_skull.png');
	background-size: 350px;
	margin: 0px;
}

.content
{
	width: 50%;
}

.section
{
	margin-bottom: 40vh;
	//text-align: left;
	scroll-margin-top: 100px;
}

h1
{
	font-size: smaller;	
}

footer
{
	font-size: smaller;
	font-weight: bold;
	color: #fc0189;
	text-shadow: 0 0 10px #fd018a;		
}

h1,
h1 a
{
	color: #fff;
}

h2
{
  color: #fc0189;
  text-shadow: 0 0 10px #fd018a;	
}

.txt
{
	color: #7020f0;
	font-size: large;
	text-align:left;
}

.txt p
{
	text-align:left;
	background:#1d1939;
	padding: 5px 10px;
	border-radius: 10px;
	display:inline-block;
	margin:5px;
	max-width: 60%;
}

.reply
{
	text-align:right;
}

.reply p
{
	background: #760152;
	padding: 5px 10px;
	border-radius: 10px;
	display:inline-block;
	margin:10px;
	color: #cc077b;
	max-width: 60%;
}

.logo
{
	width: 200px;
	height: 200px;
	object-fit: cover;
	clip-path: circle();
	margin-top: 20px;
}

.link
{
	margin-bottom: 1em;
	border-radius: 10px;
	padding: 10px;
	background: #005;
	color: #f0f0f0;
}

.image
{
	width:75%;
	border-radius: 12px;
}

.icon
{
	width:22px;
	height:22px;	
}

.gifa
{
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;	
}

a
{
	color: #00f;
	text-decoration: none;	
}

a:hover
{
	text-decoration: underline;	
}

.link img
{
	width: 40px;	
	
}

.box {
   display: flex;
   align-items:center;
   justify-content: center;
}

.box img
{
	padding-right: 10px;
}

a:hover .link
{
	background: #00f;
	color: white;
	text-decoration: none;	
}

.chain_1
{
	position:fixed;
	
	width: 100px;
	height: 100vh;
	background-image: url('../img/chain_1.png');
	background-size: 50px;
	background-repeat: repeat-y;
	
}

@media only screen and (max-aspect-ratio: 1/1)
{
	body 
	{
		font-size: 2.5vmax;
		background-size: 100%;		
	}
	
	.content
	{
		width: 90%;
	}	

	.logo
	{
		width: 400px;
		height: 400px;		
	}

	.link
	{
		padding: 40px;
		margin-bottom: 1.4em;
		border-radius: 20px;	
	}
	
	.link img
	{
		width: 60px;	
		
	}	
	
	.txt
	{
		font-size: larger;
	}
	
	.txt p
	{
		border-radius: 20px;
		margin:10px;
	}	
	
	.icon
	{
		width:40px;
		height:40px;	
	}	
	
	.chain_1
	{
		display: none;
	}
	
}